<navbar></navbar>
<div class="full-screen">
  <body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column justify-content-center">
      <main class="px-3">
        <h1>{{ title | titleUppercase }}</h1>
        <p class="lead">Service to consume PokéAPI, the open RESTful API for Pokémon data.</p>
        <p class="lead">
          <a href="https://pokeapi.co/" target="_blank">PokéAPI Web Site</a>
        </p>
        <p class="lead">
          <a routerLink="/pokedex" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Pokédex</a>
        </p>
      </main>
    </div>
  </body>
</div>
